################################################
# Name: my.cnf
#
# Description:
# MySQL config file 
#
#
# History:
#
# 15.8.2017 -
# baruch@brillix.co.il created
###################################################


[mysqld]

pid-file        = /var/run/mysqld/mysqld.pid
socket          = /var/lib/mysql/mysql.sock
datadir         = /u01/data/

#for replication use only if this db is not part of HA replication remove this 
read_only=on


# By default we only accept connections from localhost
bind-address    = 0.0.0.0
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

default_storage_engine         = InnoDB
character-set-server=utf8
key_buffer_size                = 32M

# SAFETY #
max_allowed_packet             = 500M
max_connect_errors             = 1000000
#skip_name_resolve
sql_mode                       = STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_AUTO_VALUE_ON_ZERO,NO_ENGINE_SUBSTITUTION,NO_ZERO_DATE,NO_ZERO_IN_DATE
sysdate_is_now                 = 1
innodb                         = FORCE
innodb_strict_mode             = 0
innodb_print_all_deadlocks     = 1
max_connections                = 3000
connect_timeout                = 100
# The number of seconds the server waits for activity on a noninteractive connection before closing it.
# fix from 180 to 1800 to help maxsacle monitor 
wait_timeout                   = 1800


# BINARY LOGGING #
log-bin                        = /u01/log/mysql-bin
expire_logs_days               = 2
#for replication
sync_binlog                    = 1
log_bin_trust_function_creators = 1
# REPLICATION #
#read_only                      = 1
skip_slave_start               = 1
log_slave_updates              = 1
relay_log                      = /u01/log/relay-bin
slave_net_timeout              = 500
sync_master_info               = 1
sync_relay_log                 = 1
sync_relay_log_info            = 1
binlog_format                  = MIXED

#innodb#
innodb_log_file_size           = 600M
innodb_buffer_pool_size        = 10G
innodb_log_files_in_group      = 2
innodb_flush_method            = O_DIRECT
#innodb_io_capacity = 5000
innodb_lock_wait_timeout       = 600
innodb_io_capacity = 5000
innodb_write_io_threads = 16
innodb_read_io_threads  = 8
innodb_log_buffer_size = 200M

# LOGGING #
log_error                      = /u01/log/mysql-error.log
log_queries_not_using_indexes  = 0
slow_query_log                 = 0
slow_query_log_file            = /u01/log/mysql-slow.log
long_query_time		       = 1
#innodb_autoinc_lock_mode = 2

#sort#
sort_buffer_size          = 256K


#replication#
server-id=1
relay-log-recovery=1
master-info-repository=TABLE
relay-log-info-repository=TABLE
gtid-mode=ON
enforce-gtid-consistency
# for slow disk replication 
sync_relay_log			=100
sync_master_info		=1000
# parallel replication
slave_parallel_type = logical_clock
slave_parallel_workers = 8
